{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<p align=center class="active">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo doloremque veritatis recusandae ratione voluptate praesentium blanditiis quis quasi, perspiciatis minima exercitationem odio labore dicta quia?</p>

<div class="container" align=center>
    <div class="card" style="width: 18rem;">
        <img src="/static/sp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Founder</h5>
          <p class="card-text">Shashank Patil.</p>
          <p>shashank2411@gmail.com
          Mb:1234567890</p>
          
        </div>
      </div>
</div>
{% endblock body %}
