body{
    background-color:bisque;
}

.contactheading{
    color: blue;
    font-size: 30px;
}

.contactsub{
    font-size: 24px;
}
.spp{
    background-color: rgb(228, 192, 216);
    font-size: 35px;
    text-align: center;
    background-color: rgb(240, 167, 167);
    padding-top: 50px;
    justify-content: center;
    padding-bottom: 50px;

}

.home{
    color: black;
    font-size: 30px;
    margin-left: 1800px;
}